.container{
	margin: 0 auto;
	top: 0;
	left: 0;
	overflow: auto;
}

div.main{
	text-align: left;
}

div.top{
	height: 15%;
	width: 100%;
	background-color: red;
	text-align: center;
}

div.crop {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

div.crop img {
    width: 400px;
    height: 300px;
    
}

.hidden{
	display: none;
}