input.mainactivity{
	
    width: 20em;
}

input.subactivity{
	padding-left: 5em;
    margin-left: 5em;
    width: 15em;
}

.addbutton{
    margin-left: 17em;
}

p{
	margin: 0px;
	padding: 0px;
	outline: 0px;
}

div{
	margin: 0px;
	padding: 0px;
	outline: 0px;
}

p.sub{
	padding-left: 2em;
	margin: 0px;
	outline: 0px;
	color: red;
}

div.todomainpagediv{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform: -webkit-translate(-50%, -50%);
	transform: -moz-translate(-50%, -50%);
	transform: -ms-translate(-50%, -50%);
}

div.activity{
	
}

p.mainactivity{
	
}

p.subactivity{
	padding-left: 2em;
	margin: 0px;
	outline: 0px;
	color: red;	
}